html{
    scroll-padding: 85px;
}

#logo {
    margin: auto;
    margin-top: 5px;
}

#logo img{
    width:40px;
    margin: 0px; 
}

#navbar{
    flex-direction: column;
}

#navbar::before{
    height: 100%;
}

#navbar ul li a{
    font-size: 1rem;
    margin: auto;
    padding: 0px 7px;
}

#home{
    margin: 57px 0px;
}

#home::before{
    height: 75%;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width:75%
}

/* #client-section{
    flex-wrap: wrap;
} */

/* .client img{
    width:60%;
    height: 50%;
} */

.form-div{
    margin: 5px -52px;
    width: 100px;
}

#form input, #form textarea{
    width: 200px;
    justify-content: center;
}

.btn{
    width: 100px;
}

#client-container::before{
    border-radius: 0px;
}

.h-primary{
    font-size: 30px;
}

.h-secondary{
    font-size: 20px;
}

p{
    font-size: 16px;
}
